.sidemenu {
  width: 260px;
  padding: 10px;
  background-color: #202123;
}

.sidemenu-footer {
  position: absolute;
  bottom: 0;
  width: 240px;
}

.sidemenu-button {
  display: flex;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex-shrink: 0;
  align-items: center;
  border-radius: 0.375rem;
  border-width: 1px;
  cursor: pointer;
  gap: 0.75rem;
}

.ms-mode {
  background-color: #e9ba0f52;
}

.grayscale {
  filter: grayscale(100%);
}

.sidemenu-button-borderless {
  display: flex;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  border-radius: 0.375rem;
  cursor: pointer;
  gap: 0.75rem;
}

.sidemenu-button-borderless:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidemenu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.sidemenu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
